@use '../../assets/styles/constatnts.scss' as *;
@import '../../assets/styles/breakpoints.scss';

header {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include semi-phone {
    height: 60px;
  }

  @include for-desktop-big {
    zoom: 1.2;
  }
}

.logo {
  height: 20px;

  margin-bottom: 40px;
  margin-top: 39px;
  margin-left: 54px;

  @include semi-phone {
    height: 16px;

    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 16px;
  }
}

.lock__logo {
  margin-bottom: 48px;

  @include semi-phone {
    width: 80px;
    height: 80px;

    margin-bottom: 24px;
  }
}

.wrapper {
  width: 100wv;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 420px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 75px;

  @include semi-phone {
    width: 343px;

    margin-top: 60px;
    margin-left: 16px;
    margin-right: 16px;
  }

  @include for-desktop-big {
    zoom: 1.2;
  }
}

.header {
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;

  color: $color__black;

  @include semi-phone {
    width: 272px;

    font-size: 32px;
    text-align: center;
  }
}

.description {
  text-align: center;
  font-size: 16px;
  font-weight: 400;

  line-height: 30px;

  margin-top: 8px;

  color: $color__grey;

  @include semi-phone {
    width: 293px;
    font-size: 14px;
    line-height: 24px;

    margin-top: 8px;
  }
}

.forms {
  width: 100%;

  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  input {
    width: 100%;

    border: 1px solid #e6e6e6;
    border-radius: 12px;

    padding: 16px;

    font-weight: 600;
    font-size: 14px;
    color: $color__black;

    outline: none;
  }

  input::placeholder {
    font-weight: 600;
    font-size: 14px;

    color: #e6e6e6;
  }

  input:focus {
    border: 1px solid #4e74f5;
  }
}

.form__disable {
  width: 100%;

  display: flex;
  flex-direction: column;

  input {
    width: 100%;

    border: none;
    border-radius: 12px;
    background: #f2f2f2;

    padding: 16px;

    font-weight: 600;
    font-size: 14px;
    color: $color__grey;

    pointer-events: none;

    outline: none;
  }
}

.form__warning {
  width: 100%;

  display: flex;
  flex-direction: column;

  input {
    width: 100%;

    border: 1px solid #f90043;
    border-radius: 12px;

    padding: 16px;
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 14px;
    color: $color__black;

    outline: none;
  }

  input::placeholder {
    font-weight: 600;
    font-size: 14px;

    color: #e6e6e6;
  }

  input:focus {
    border: 1px solid #f90043;
  }
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;

  margin-top: -8px;

  color: #fb2424;
}

.submit__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100%;

  background: $color__blue;
  color: $color__white;

  font-weight: 700;
  font-size: 16px;
  line-height: 13px;

  margin-top: 32px;
  margin-bottom: 24px;

  border: none;
  border-radius: 64px;

  cursor: pointer;

  transition: all ease 0.1s;

  &:hover {
    background: #3966f8;
  }

  @include semi-phone {
    width: 343px;
    margin-top: 40px;
    font-size: 14px;
    line-height: 14px;
  }
}

.spinner {
  margin-right: 16px;
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.email {
  background: none;
  border: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;

  color: $color__blue;

  transition: all ease 0.1s;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.helper__button {
  background: none;
  border: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;

  color: $color__grey;

  transition: all ease 0.1s;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
